@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Walter+Turncoat&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    overflow-x: hidden;
}
  
body {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 22%, rgba(37,37,37,1) 100%);
    background-repeat: no-repeat;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    flex-direction: column;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}

@keyframes scale-in-center {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

.header-box {
    text-align: center;
}

.header-box h1 {
    font-family: 'Walter Turncoat',serif;
    font-size: 2.5rem;
    color: white;
    display: inline;
}

.sub-text {
    text-align: center;
}

.sub-text span {
    color: white;
}

.difficulty {
    margin-right: 15px;
    margin-top: 10px;
}

.difficulty:last-child {
    margin-right: 0;
}

.impos-activated {
    background-color: rgb(255, 49, 49);
    color: white;
    transition: 0.3s;
}

.med-activated {
    background-color: yellow;
    transition: 0.3s;
}

.jep-activated {
    background-color: rgb(106, 183, 255);
    transition: 0.3s;
}
.container {
    display: grid;
    margin-top: 40px;
    width: 400px;
    grid-template-columns: repeat(3, 1fr);
    overflow-x: hidden;
}

.box {
    position: relative;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    font-size: 24px;
    align-items: center;
    cursor: pointer;
}

.box.won {
    background-color: rgba(152, 253, 0, 0.5);
    transition: 0.5s;
}

.box.lost {
    background-color: rgba(255, 38, 38, 0.5);
    transition: 0.5s;
}

.box.draw {
    background-color: rgba(139, 139, 139, 0.5);
    transition: 0.5s;
}

.box i {
    position: absolute;
}

.fa-circle {
    color: white;
    animation: scale-in-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}

.svg-icon {
    width: 4em;
    height: 4em;
    animation: scale-in-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #ffffff;
}

.svg-icon circle {
    stroke: #ffffff;
    stroke-width: 1;
}

img {
    display: none;
}

.george-pic {
    object-fit: cover;
    width: 60%;
    border-radius: 50%;
    aspect-ratio: 1;
    border: 1px solid white;
    position: absolute;
    /* z-index: -1; */
    display: block;
    animation: scale-in-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}

.b1 {
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    border-top: 3px solid transparent;
    border-left: 3px solid transparent;
}

.b2 {
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    border-left: 3px solid white;
    border-top: 3px solid transparent;

}

.b3 {
    border-bottom: 3px solid white;
    border-left: 3px solid white;
    border-top: 3px solid transparent;
    border-right: 3px solid transparent;
}

.b4 {
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    border-top: 3px solid white;
    border-left: 3px solid transparent;

}

.b5 {
    border: 3px solid white;;   
}

.b6 {
    border-bottom: 3px solid white;
    border-left: 3px solid white;
    border-top: 3px solid white;
    border-right: 3px solid transparent;

}

.b7 {
    border-top: 3px solid white;
    border-right: 3px solid white;
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

.b8 {
    border-left: 3px solid white;
    border-top: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid transparent;

}

.b9 {
    border-left: 3px solid white;
    border-top: 3px solid white;
    border-bottom: 3px solid transparent;
    border-right: 3px solid transparent;
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.restart, .difficulty {
    padding: 10px 12px;
    font-size: 1.2rem;
    border-radius: 8px;
    border: 1px solid white;
    outline: none;
    cursor: pointer;
}

.restart:active {
    background-color: rgb(95, 95, 95);
}

footer span {
    color: white;
    margin-top: 10px;
}

footer span a {
    color: #3366BB;
    text-decoration: underline;
}

@media screen and (max-width: 450px) {
    .header-box h1 {
        font-size: 2.2rem;
    }

    .sub-text span, footer span {
        font-size: 14px;
    }

    .restart, .difficulty {
        font-size: 15px;
        padding: 5px 7px;
    }

    .container {
        margin-top: 20px;
        width: 300px;
    }

    .box {
        font-size: 18px;
    }

    footer {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    /* .b1, .b2, .b3, .b4, .b5, .b6, .b7, .b8, .b9 {
        border-left: 2px solid initial;
        border-top: 2px solid initial;
        border-bottom: 2px solid initial;
        border-right: 2px solid initial;
    } */
}